<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <server>
        <host>127.0.0.1</host>
        <port>9001</port>
    </server>
    <logger>
        <adapter>console</adapter>
        <settings></settings>
    </logger>
    <cassandra>
        <keyspace>gonalytics</keyspace>
        <hosts>
            <host>cassandra</host>
        </hosts>
    </cassandra>
</config>
