<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <worker>
        <concurency>1</concurency>
    </worker>
    <logger>
        <adapter>console</adapter>
        <settings></settings>
    </logger>
    <geo-ip>
        <path>data/GeoLite2-City.mmdb</path>
    </geo-ip>
    <kafka>
        <connection-string>kafka:9092</connection-string>
        <publishers>
            <action>
                <topic>actions</topic>
                <partition>0</partition>
            </action>
        </publishers>
    </kafka>
    <cassandra>
        <keyspace>gonalytics</keyspace>
        <hosts>
            <host>cassandra</host>
        </hosts>
    </cassandra>
</config>